<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Groover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA03B9A41D093BC000B2B7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA03B9B81D093BC000B2B7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA03B9C31D093BC000B2B7F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
